body {
  background-image: url("../images/peonias.jpg");
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: hsla(0,0%,100%,0.70);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.firstview {
  display: grid;
  grid-template-rows: : 1fr 1fr 1fr ;
  margin-top: 10%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 10%;
}
.firstview > span:first-child{
  font-size: 1.5rem;
}
#minombre {
  font-size: 4rem;
  font-weight: bolder;
  text-align: center;
  font-variant:
}
.firstview > span:last-child {
  text-align: left;
  font-size: 2.0rem;
}
#pick-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  font-size: 2rem;
  padding-right: 10%
}
#pick-container li {
  border-top: 2px solid #aaa;
  border-bottom: 2px solid #aaa;
  color: gray;
  margin-left: 20%;
  margin-right: 20%;
}
