
body {
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: rgb(241, 227, 235);
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: gray;
}
p  {
margin: 20%;
font-size: 2rem;
}
p::first-letter {
  font-size: 3rem;
}

nav ul {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  background-color: rgb(249, 247, 242);
  margin-right: 7%;
  margin-left: 7%
}
nav ul > li {
  line-height: 50px;
  text-align: right;
}
nav ul > li:hover {
  font-size: 1.2rem;
}
nav ul > li:first-child {
  text-align: left;
}

nav ul > li:last-child {
  padding-right: 1rem;
}

footer {
}
footer ul {
  display: flex;
  flex-direction: row;
}
footer ul li {
  height: 2rem;
}
footer img {
  max-height: 100%;
  max-width: 100%;
}
